

<launch>
<!-- Subscribed topics -->
    <param name="IMU_topic" type="string" value= "/os_cloud_node/imu" />
    <param name="LiDAR_pointcloud_topic" type="string" value= "/os_cloud_node/points" />
    <param name="Image_topic" type="string" value= "/alphasense_driver_ros/cam0" />
    <param name="ilive_common/map_output_dir" type="string" value="$(env HOME)/ilive_output" />

<!--load data from .yaml -->
    <rosparam command="load" file="$(find ilive)/config/newer_college128.yaml" />
<!-- reset frame_id parameters using user input data -->
    <arg name="method"   default="EKF" /> 
    <arg name="iters"   default="2" />
    <param name="ilive_common/method"  type="string" value="$(arg method)" /> 
    <param name="ilive_lio/max_iteration"  type="int" value="$(arg iters)" /> 


    <!-- <node pkg="ilive" type="ilive_LiDAR_front_end" name="ilive_LiDAR_front_end"  output="screen" required="true"/> -->
    <node pkg="ilive" type="ilive_mapping" name="ilive_mapping" output="screen" required="true" />
    <arg name="rviz" default="1" />
    <group if="$(arg rviz)">
        <node name="rvizvisualisation" pkg="rviz" type="rviz" output="log" args="-d $(find ilive)/config/rviz/ilive_rviz_config.rviz" />
    </group>

  
<!-- what ros bag to play -->
    <arg name="dataset"   default="math-medium" /> 
    <arg name="bag_path"   default="/home/slam/workspace/dataset/Newer_college128/rosbag/$(arg dataset).bag" /> 

<!-- where to save the recorded poses -->
    <!-- <arg name="path_save"   default="/home/slam/workspace/ws_ILIVE/Evaluation_ILIVE/ILIVE/output" />  -->

<!-- play the dataset and record -->
    <node pkg="rosbag" type="play" name="play" args="$(arg bag_path)" required="true" /> -->
    <!-- <node pkg="rosbag" type="record" name="record" args="/aft_mapped_to_init  /leica/pose/relative  -O $(arg path_save)/test.bag" required="true" />  --> -->


</launch>