<launch>
    <!-- Subscribed topics -->
    <arg name="method"   default="InEKF" /> 
    <arg name="iters"   default="3" />
    <arg name="if_vio_f2f"   default= "1" />
    <arg name="if_vio_f2map"   default= "1" />
    <arg name="cam_cov_scale"   default= "100" />

    <!-- <arg name="cov_a"   default= "0.0001" />
    <arg name="cov_b"   default= "0.000001" /> -->

    <param name="IMU_topic" type="string" value= "/vn200/imu" />
    <param name="LiDAR_pointcloud_topic" type="string" value= "/laser_cloud_flat" />
    <param name="Image_topic" type="string" value= "/d455t/color/image_raw" />
    <param name="ilive_common/map_output_dir" type="string" value="$(env HOME)/ilive_output" />


    <!-- <arg name="iters"   default="1" />  -->
    <!-- <rosparam param="method" subst_value="True">$(arg method)</rosparam> -->
    <!-- <rosparam param="max_iteration" subst_value="True">$(arg iters)</rosparam> -->
    <rosparam command="load" file="$(find ilive)/config/NTU2.yaml" />
        <!-- reset frame_id parameters using user input data -->
    <param name="ilive_common/method"  type="string" value="$(arg method)" />  
    <param name="ilive_lio/max_iteration"  type="int" value="$(arg iters)" /> 
    <param name="ilive_common/use_vio_f2f"  type="int" value="$(arg if_vio_f2f)" /> 
    <param name="ilive_common/use_vio_f2map"  type="int" value="$(arg if_vio_f2map)" /> 
    <param name="ilive_vio/cam_cov_scale"  type="double" value="$(arg cam_cov_scale)" /> 

    <!-- <param name="ilive_IMU/COV_ACC_NOISE_DIAG"  type="double" value="1.3354056e-3" /> 
    <param name="ilive_IMU/COV_OMEGA_NOISE_DIAG"  type="double" value="1.349803352e-5" /> 
    <param name="ilive_IMU/COV_BIAS_ACC_NOISE_DIAG"  type="double" value="1.87489e-7" /> 
    <param name="ilive_IMU/COV_BIAS_GYRO_NOISE_DIAG"  type="double" value="7.0756e-10" />  -->

    <node pkg="ilive" type="ilive_LiDAR_front_end" name="ilive_LiDAR_front_end"  output="screen" required="true"/>
    <node pkg="ilive" type="ilive_mapping" name="ilive_mapping" output="screen" required="true" />
    
    <arg name="rviz" default="1" />
    <group if="$(arg rviz)">
        <node name="rvizvisualisation" pkg="rviz" type="rviz" output="log" args="-d $(find ilive)/config/rviz/rviz_ilive.rviz" />
    </group>

   
<!-- what ros bag to play -->
    <arg name="dataset"   default="tuhh_lidar_camera_imu" /> 
    <arg name="bag_path"   default="/home/slam/workspace/dataset/ntu2/tuhh" />  


<!-- where to save the recorded poses -->
    <arg name="path_save"   default="/home/slam/workspace/ws_ILIVE/Evaluation_ILIVE/ILIVE/output/output_LAB" /> 

<!-- play the dataset -->
    <node pkg="rosbag" type="play" name="play" args="$(arg bag_path)/$(arg dataset).bag" required="true" /> 
    <node pkg="rosbag" type="record" name="record" args="/aft_mapped_to_init  /vn200/GPS -O $(arg path_save)/test.bag" required="true" /> 

</launch>